.container {
  display: flex;
  gap: 16px;
}

.cardContainer {
  flex: 1;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardBody {
  max-height: 25em;
  overflow-y: auto;
  padding: 16px;
}

.flagRow {
  margin-bottom: 8px;
  display: flex;
}

.flagName {
  width: 50%; /* Takes exactly half */
  padding-right: 8px; /* Small gap between name and select */
}


.flagSelect {
  width: 50%;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.flagSelect .ant-select-selector {
  width: 100% !important;
}

.noFlagsMessage {
  color: rgba(0, 0, 0, 0.45);
  text-align: center;
  padding: 8px 0;
}


/* Button styling */
.flagName .ant-btn-link {
  padding: 0;
  height: auto;
  text-align: left;
}